apiVersion: 1

datasources:
  - name: Loki
    type: loki
    access: proxy
    url: http://loki-shared:3100
    isDefault: false
    editable: true
    jsonData:
      timeout: 60
      maxLines: 1000
    basicAuth: false
    withCredentials: false
    version: 1
    readOnly: false